<div class="container">
        <div class="row">
        {{# each products}}
            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <img src="{{ this.imagePath }}" alt='...' class="card-img-top img-responsive" />
                    <div class="card-body">
                        <h5 class="card-title">{{ this.title }}</h5>
                        <p class="card-text">SKU : {{ this.sku}}</p>
                    </div>
                    
                        
                    <div class="card-footer">
                            <div class="price pull-left">${{this.price}}</div>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to Cart <i class="fa fa-shopping-cart fa-lg"></i></a>
                    </div>
                    
                </div>
            </div>
        {{/each}}
    </div>
</div>